* {
  user-select: none;
  outline: none;
}

:root {
  --color: yellow;
  --l: 15%;
}

html[theme="dark-mode"] {
  /* ! */
  filter: invert(100%) hue-rotate(180deg);
}

body {
  background-color: white;
}

.container {
  width: 1050px;
  margin: auto;
}

.keyboard {
  /* 3d */
  --size: min(85vh, 80vw);
  --btn-height: calc(var(--size) * 0.025);
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: calc(var(--size) * 0.0175);
  background-color: var(--color);
  padding: 0.2em;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateX(25deg) rotateZ(0deg);
  animation: color-shift 30s infinite linear;
  transition: 100ms ease-out;
}

.keyboard * {
  transform-style: preserve-3d;
}

.row {
  /* ! */
  display: flex;
  gap: 0.4em;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  color: var(--color);
  font-weight: bold;
  height: calc(var(--size) * 0.05);
  min-width: calc(var(--size) * 0.065);
  text-align: center;
  padding: 0.25em;
  background-color: hsl(240deg, 20%, calc(var(--l) + 5%));
  position: relative;
  transform: translateZ(var(--btn-height));
  transition: 100ms ease-out;
  flex-grow: 1;
  text-shadow: 0 0 0.125em var(--color);
}

.key:after {
  height: 100%;
  width: var(--btn-height);
  top: 0;
  left: 100%;
  background-color: hsl(240deg, 20%, calc(var(--l) + 10%));
  transform-origin: center left;
  transform: rotateY(90deg);
}

.key:before {
  height: var(--btn-height);
  width: 100%;
  top: 100%;
  left: 0;
  background-color: hsl(240deg, 20%, calc(var(--l)));
  transform-origin: top center;
  transform: rotateX(-90deg);
}

.key:before,
.key:after {
  content: "";
  position: absolute;
  transition: 200ms ease-out;
}

.key.active {
  transform: translateZ(calc(var(--btn-height) * 0.5));
  text-shadow: 0 0 0.25em var(--color);
}

.key .two-value {
  width: 100%;
  text-align: center;
}

.fn-key {
  width: 80px;
}

.space-key {
  width: 420px;
}

.back-space-key {
  width: 130px;
}

.tab-key {
  width: 95px;
}

.back-slash-key {
  width: 95px;
}

.caps-lock-key {
  width: 110px;
}

.left-shift-key {
  width: 145px;
}

.enter-key {
  width: 150px;
}

.right-shift-key {
  width: 185px;
}

.menu {
  /* ! */
  display: flex;
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  cursor: pointer;
  background-color: gray;
  border-radius: 34px;
  transition: 0.4s;
}

/* ! */
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.5s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider::before {
  /* ! */
  transform: translateX(26px);
}

.select-box {
  position: relative;
  margin-left: 60px;
  height: 34px;
}

.select-box select {
  /* ! */
  font-size: 0.9rem;
  /* ! */
  padding: 2px 5px;
  height: 34px;
  width: 200px;
}

.input-group {
  margin: 100px 0px;
}

.input {
  border: none;
  border-bottom: 2px solid lightgrey;
  width: 1050px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  display: block;
}

@keyframes color-shift {
  0% {
    --color: hsl(0deg, 100%, 50%);
  }
  12.5% {
    --color: hsl(45deg, 100%, 50%);
  }
  25% {
    --color: hsl(90deg, 100%, 50%);
  }
  37.5% {
    --color: hsl(135deg, 100%, 50%);
  }
  50% {
    --color: hsl(180deg, 100%, 50%);
  }
  62.5% {
    --color: hsl(225deg, 100%, 50%);
  }
  75% {
    --color: hsl(270deg, 100%, 50%);
  }
  87.5% {
    --color: hsl(315deg, 100%, 50%);
  }
  100% {
    --color: hsl(360deg, 100%, 50%);
  }
}

@property --color {
  syntax: "<color>";
  inherits: true;
  initial-value: yellow;
}
